
/* Your CSS Code here. */
 body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
.accio{
	width:150px;
	height:150px;
	background-color:#000000;
}
.hello-accio{
	color:#ffffff;
	margin-left:32px;
	padding:10px;
}